<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% load formatos %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - BIKEHUB</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    {% include 'clientes/navbar.html'%}
    <div class="container mx-auto mt-10">
        {% if messages %}
            <ul class="mb-4">
                {% for message in messages %}
                    <li class="text-red-600 font-semibold">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="flex flex-col lg:flex-row shadow-md my-10">
            <div class="w-full lg:w-3/4 bg-white px-10 py-10">
                <div class="flex justify-between border-b pb-8">
                    <h1 class="font-semibold text-2xl text-blue-800">Carrito de Compras</h1>
                    <h2 class="font-semibold text-2xl text-blue-800">{{ items_count }} Items</h2>
                </div>
                <div class="flex mt-10 mb-5">
                    <h3 class="font-semibold text-slate-600 text-xs uppercase w-2/5">Detalles del Producto</h3>
                    <h3 class="font-semibold text-slate-600 text-xs uppercase w-1/5 text-center">Cantidad</h3>
                    <h3 class="font-semibold text-slate-600 text-xs uppercase w-1/5 text-center">Precio</h3>
                    <h3 class="font-semibold text-slate-600 text-xs uppercase w-1/5 text-center">Total</h3>
                </div>

                {% for item in items %}
                <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                    <div class="flex w-2/5">
                        <div class="w-20">
                            <img class="h-24" src="{{ item.bicicleta.imagen.url }}" alt="Imagen de {{ item.bicicleta.modelo }}">
                        </div>
                        <div class="flex flex-col justify-between ml-4 flex-grow">
                            <span class="font-bold text-sm text-blue-800">{{ item.bicicleta.marca }} {{ item.bicicleta.modelo }}</span>
                            <span class="text-slate-500 text-xs">{{ item.bicicleta.tipo }}</span>
                            <form action="{% url 'Carro:eliminar_de_carrito' item.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700 text-xs">
                                    Eliminar
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="flex justify-center w-1/5">
                        <form action="{% url 'Carro:actualizar_carrito' item.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="accion" value="decrementar" class="text-gray-500 hover:text-gray-700">-</button>
                        </form>
                        <span class="mx-2 border text-center w-8 py-1 px-2 bg-gray-100">{{ item.cantidad }}</span>
                        <form action="{% url 'Carro:actualizar_carrito' item.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="accion" value="incrementar" class="text-gray-500 hover:text-gray-700">+</button>
                        </form>
                    </div>
                    <span class="text-center w-1/5 font-semibold text-sm">{{ item.bicicleta.precio_venta|formato_clp }}</span>
                    <span class="text-center w-1/5 font-semibold text-sm">{{ item.total_price|formato_clp }}</span>
                </div>
                {% endfor %}
            </div>

            <div id="summary" class="w-full lg:w-1/4 px-8 py-10 bg-slate-50">
                <h1 class="font-semibold text-2xl border-b pb-8 text-slate-800">Resumen del Pedido</h1>
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-semibold text-sm uppercase">Items {{ items_count }}</span>
                    <span class="font-semibold text-sm">{{ total_carrito|formato_clp }}</span>
                </div>  
                <div class="border-t mt-8">
                    <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                        <span>Precio total</span>
                        <span>{{ total_final|formato_clp }}</span>
                    </div>
                    <a href="{% url 'pagos:procesar_pago' %}" class="bg-blue-600 hover:bg-blue-700 py-3 text-sm text-white uppercase w-full rounded block text-center">Proceder al pago</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>